{% extends "base.html" %}{% load i18n %}{% load static %}{% load thumbnail %}

{% block head_title %}
	{{ potd.title }} - {% trans "from" %} {{ potd.get_source_type_display }}, {{ potd.potd_at }} -
	{{ NAME_OF_SITE_LONG }}
{% endblock %}

{% block body_main_content %}
	<noscript>
		<article class="potd-detail">
			<div>
				<p>{{ potd.potd_at }} | <a href="{{ potd.detail_url }}" target="blank">{{ potd.source_type }}</a></p><hr>
				<h1>{{ potd.title }}</h1>
				<p>{{ potd.description }}</p>
			</div>
			<img src="{{ potd.image|thumbnail_url:"potd1200" }}">
		</article>
	</noscript>
{% endblock %}
