{% extends "base.html" %}{% load i18n %}{% load static %}{% load thumbnail %}

{% block head_title %}
	{{ potd.title }} - {% trans "from" %} {{ potd.get_source_type_display }}, {{ potd.potd_at }} -
	{{ NAME_OF_SITE_LONG }}
{% endblock %}

{% block body_main_content %}
	<script src="{% static "js/marked.min.js" %}"></script>
	<h1>{{ potd.title }}</h1>
	<p id="marked">{{ potd.description }}</p>
	<p><img style="width: 100%" src="{{ potd.image|thumbnail_url:"potd1200" }}" alt="{{ potd.title }}" title="{{ potd.description }}"></p>
	<script>
		var elem = document.getElementById("marked");
    	elem.innerHTML = marked(elem.innerText);
  	</script>
{% endblock %}
